body {
    background-color: blue;
}


h1 {
  font-size: 10rem;
  color: red;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  font-size: 5rem;
  color: red;
  font-family: Arvo", cursive;
}


